<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./components/head') %> 
  </head>

  <body>

    <%- include('./components/nav') %> 

    <header>
      <img src="/img/banner.jpg" alt="banner">
    </header>

    <main>

      <section id="cards">

        <!-- <h2>Lista de Pokemons</h2> -->

        <% pokedex.forEach((pokemon)=> { %>
        <div class="card">
          <a class="redirect" href="detalhes/<%= pokemon.id %>"><img src="<%= pokemon.imagem %>" alt="" />
          <h3><%= pokemon.nome %></h3></a>
          <p class="descricao"><%= pokemon.descricao %></p>
          <p class="tipo">Tipo: <%= pokemon.tipo %></p>
          <a id="editar" href="/atualizar/<%= pokemon.id %>">Editar</a>
          <a id="apagar" href="/delete/<%= pokemon.id %>">apagar</a>
          
        </div>
        <% }) %>

      </section>

    </main>

    <% if (pokemonPut != null) {%>
      <%- include('./components/modalPut') %>
    <% } %> 
    
    <%- include('./components/footer') %> 

  </body>
</html>

